# Data visualization

In [26]:
import os
import pandas as pd

In [14]:
cwd = os.getcwd()
print(cwd)

/home/bguima/code/Numbersdontlie/stock_prices_predictions/notebooks

In [24]:
simp_path = 'raw_data/historical_stock_prices.csv'
abs_path = os.path.abspath(os.path.join(cwd,'..',simp_path))

print(abs_path)

/home/bguima/code/Numbersdontlie/stock_prices_predictions/raw_data/historical_stock_prices.csv

In [27]:
df = pd.read_csv(abs_path)

In [30]:
df.ticker.nunique()

5685

In [31]:
df.head()

  ticker   open  close  adj_close    low   high   volume        date
0    AHH  11.50  11.58   8.493155  11.25  11.68  4633900  2013-05-08
1    AHH  11.66  11.55   8.471151  11.50  11.66   275800  2013-05-09
2    AHH  11.55  11.60   8.507822  11.50  11.60   277100  2013-05-10
3    AHH  11.63  11.65   8.544494  11.55  11.65   147400  2013-05-13
4    AHH  11.60  11.53   8.456484  11.50  11.60   184100  2013-05-14

In [32]:
len(df)

20973889

In [37]:
len(df[df['ticker']=='AAPL'])

9507