# import libraries

In [20]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import tensorflow as tf

# import data

In [2]:
cwd = os.getcwd()
simp_path = 'raw_data/df.csv'
abs_path = os.path.abspath(os.path.join(cwd,'..',simp_path))
df = pd.read_csv(abs_path)

In [3]:
df.shape

(2008183, 12)

In [4]:
df_small = df[df["ticker"].isin(["T"])]
df_small

,ticker,open,close,adj_close,low,high,volume,date,sector,year,month,day
1462441,T,48.562500,47.000000,19.225044,46.625000,49.000000,5791900,2000-01-03,PUBLIC UTILITIES,2000,1,3
1462442,T,47.062500,44.250000,18.100174,43.500000,47.750000,7173600,2000-01-04,PUBLIC UTILITIES,2000,1,4
1462443,T,45.000000,44.937500,18.381397,44.437500,45.250000,9090000,2000-01-05,PUBLIC UTILITIES,2000,1,5
1462444,T,44.562500,43.750000,17.993273,43.125000,45.000000,7153600,2000-01-06,PUBLIC UTILITIES,2000,1,6
1462445,T,44.562500,44.125000,18.147497,43.375000,44.750000,5885600,2000-01-07,PUBLIC UTILITIES,2000,1,7
...,...,...,...,...,...,...,...,...,...,...,...,...
1467128,T,33.139999,33.110001,33.110001,33.009998,33.250000,23493500,2018-08-20,PUBLIC UTILITIES,2018,8,20
1467129,T,33.330002,33.400002,33.400002,33.310001,33.580002,28419300,2018-08-21,PUBLIC UTILITIES,2018,8,21
1467130,T,33.200001,32.680000,32.680000,32.660000,33.200001,34156900,2018-08-22,PUBLIC UTILITIES,2018,8,22
1467131,T,32.689999,32.490002,32.490002,32.410000,32.790001,21453600,2018-08-23,PUBLIC UTILITIES,2018,8,23
1467132,T,32.459999,32.639999,32.639999,32.459999,32.740002,16225000,2018-08-24,PUBLIC UTILITIES,2018,8,24

In [5]:
# getting the list of all companies 
companies = df_small.ticker.unique()
companies.sort()

In [26]:
tf.keras.utils.normalize()

NameError: name 'x' is not defined

In [8]:
len(X_train)

929

In [11]:
X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
X_train.shape

(929, 3763, 1)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

model = Sequential()

model.add(LSTM(units = 92, return_sequences = True, input_shape = (x_train.shape[1], 1)))
model.add(Dropout(0.2))

# model.add(LSTM(units = 92, return_sequences = True))
# model.add(Dropout(0.2))

# model.add(LSTM(units = 92, return_sequences = True))
# model.add(Dropout(0.2))

model.add(LSTM(units = 92, return_sequences = False))
model.add(Dropout(0.2))

model.add(Dense(units = 1))
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [27]:
df_small.to_csv("df_small.csv")