# import libraries

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import tensorflow as tf

# import data

In [6]:
cwd = os.getcwd()
simp_path = 'raw_data/df.csv'
abs_path = os.path.abspath(os.path.join(cwd,'..',simp_path))
df = pd.read_csv(abs_path)

FileNotFoundError: ignored

In [12]:
df_small = pd.read_csv("df_small.csv")

In [7]:
%ls

drive/  sample_data/

In [9]:
%cd drive

/content/drive

In [10]:
%cd MyDrive/

/content/drive/MyDrive

In [11]:
%ls

'Berlin Proof Kreuzberg_1.gmap'                   df_small.csv
'Berlin Proof Kreuzberg_2.gmap'                   LSTM.ipynb
 BoardingPassOELSCHLEGELSANDRA1486109454826.pdf  'Unbenannte Karte.gmap'
'Colab Notebooks'/                               'Unbenannte Tabelle.gsheet'

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.shape

(2008183, 12)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

model = Sequential()

model.add(LSTM(units = 92, return_sequences = True, input_shape = (x_train.shape[1], 1)))
model.add(Dropout(0.2))

# model.add(LSTM(units = 92, return_sequences = True))
# model.add(Dropout(0.2))

# model.add(LSTM(units = 92, return_sequences = True))
# model.add(Dropout(0.2))

model.add(LSTM(units = 92, return_sequences = False))
model.add(Dropout(0.2))

model.add(Dense(units = 1))
model.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [14]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [25]:
sc = MinMaxScaler()

sc.fit(df_small[["adj_close"]])

X_train = sc.transform(df_small[["adj_close"]])

In [26]:
X_train

array([[0.34483819],
       [0.3081892 ],
       [0.31735164],
       ...,
       [0.78320922],
       [0.77701894],
       [0.78190596]])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [16]:
df_small

      Unnamed: 0 ticker       open  ...  year  month  day
0        1462441      T  48.562500  ...  2000      1    3
1        1462442      T  47.062500  ...  2000      1    4
2        1462443      T  45.000000  ...  2000      1    5
3        1462444      T  44.562500  ...  2000      1    6
4        1462445      T  44.562500  ...  2000      1    7
...          ...    ...        ...  ...   ...    ...  ...
4687     1467128      T  33.139999  ...  2018      8   20
4688     1467129      T  33.330002  ...  2018      8   21
4689     1467130      T  33.200001  ...  2018      8   22
4690     1467131      T  32.689999  ...  2018      8   23
4691     1467132      T  32.459999  ...  2018      8   24

[4692 rows x 13 columns]

In [17]:
df_small.dtypes

Unnamed: 0      int64
ticker         object
open          float64
close         float64
adj_close     float64
low           float64
high          float64
volume          int64
date           object
sector         object
year            int64
month           int64
day             int64
dtype: object

In [22]:
df_small = df_small.drop(columns= "Unnamed: 0")

KeyError: ignored

In [23]:
df_small

     ticker       open      close  ...  year  month  day
0         T  48.562500  47.000000  ...  2000      1    3
1         T  47.062500  44.250000  ...  2000      1    4
2         T  45.000000  44.937500  ...  2000      1    5
3         T  44.562500  43.750000  ...  2000      1    6
4         T  44.562500  44.125000  ...  2000      1    7
...     ...        ...        ...  ...   ...    ...  ...
4687      T  33.139999  33.110001  ...  2018      8   20
4688      T  33.330002  33.400002  ...  2018      8   21
4689      T  33.200001  32.680000  ...  2018      8   22
4690      T  32.689999  32.490002  ...  2018      8   23
4691      T  32.459999  32.639999  ...  2018      8   24

[4692 rows x 12 columns]