## Importing the libraries and modules

In [1]:
%load_ext autoreload
%autoreload 2
import os
import pandas as pd
import numpy as np
from stock_prices_predictions.get_data import *
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dropout, Dense
from tensorflow.keras import layers
from sklearn.preprocessing import RobustScaler
import matplotlib.pyplot as plt
import seaborn as sns
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.losses import mean_absolute_percentage_error
import joblib
from tensorflow.keras.models import load_model

In [2]:
list_of_stocks = ['T', 'INTC', 'ADBE', 'JPM', 'PG', 'NVDA', 'AAPL', 'AMZN', 'UNH', 'MA']

## Models and transformers

### Scaler for each stock

In [3]:
dict_of_scaler = {}
dict_of_model = {}

for stock in list_of_stocks:
    dict_of_scaler[stock] = joblib.load(f'../models_scalers/{stock}_scaler.joblib')
    dict_of_model[stock] = load_model(f'../models_scalers/{stock}_model.h5')

## Load Dataframe

In [4]:
df = get_portfolio_data()

enter get portfolio data

In [8]:
df.head()

,ticker,open,close,adj_close,low,high,volume,date,sector,year,month,day
8336,AAPL,79.382858,79.018570,67.486176,78.860001,79.575714,58671200,2014-01-02,TECHNOLOGY,2014,1,2
8337,AAPL,78.980003,77.282860,66.003777,77.204285,79.099998,98116900,2014-01-03,TECHNOLOGY,2014,1,3
8338,AAPL,76.778572,77.704285,66.363701,76.228569,78.114288,103152700,2014-01-06,TECHNOLOGY,2014,1,6
8339,AAPL,77.760002,77.148575,65.889114,76.845711,77.994286,79302300,2014-01-07,TECHNOLOGY,2014,1,7
8340,AAPL,76.972855,77.637146,66.306381,76.955711,77.937141,64632400,2014-01-08,TECHNOLOGY,2014,1,8

## User Input

In [5]:
prediction_date = '2015-04-15'
#final_date = '2015-04-20'
#initial_amount = 10000
ticker_user = "T"

In [13]:
type(prediction_date)

str

## Make Predictions

### Getting the data to predict

In [16]:
def data_predict(ticker_user):
    df_ticker = df[df["ticker"] == ticker_user]
    df_ticker.reset_index(inplace=True)
    ind = df_ticker.index[df_ticker["date"] == '2015-04-15'].tolist()
    print(ind)
    df_ticker = df_ticker[ind[0]-19:ind[0]+1]
    df_ticker = df_ticker.adj_close
    return df_ticker

In [17]:
data_predict(ticker_user)

[322]

303    27.978201
304    27.653355
305    27.678341
306    27.719986
307    27.545074
308    27.170254
309    27.336845
310    27.278532
311    27.461779
312    27.195242
313    27.395142
314    27.595055
315    27.761641
316    27.620039
317    27.586241
318    27.620037
319    27.687632
320    27.780569
321    27.620037
322    27.789013
Name: adj_close, dtype: float64

### Making scaling and predictions

In [10]:
type(X_test_T2)

NameError: name 'X_test_T2' is not defined

In [11]:
df_ticker = pd.DataFrame(data_predict(ticker_user)[:-1])

In [12]:
X_test_T = dict_of_scaler[ticker_user].transform(df_ticker)

#X_test_T2 = create_sequences_scaled(pd.DataFrame(X_test_T))

prediction = dict_of_model[ticker_user].predict(X_test_T[np.newaxis,:,:])

prediction_back = dict_of_scaler[ticker_user].inverse_transform(prediction.reshape(-1, 1))

In [ ]:
#Add a new dimension to the model
#X_test_2 = X_test_T[np.newaxis,:,:]

In [14]:
prediction_back[0][0]

27.30527

In [ ]:
data_predict(ticker_user)